$defaultcolor: #003C96;
$secondarycolor: #003C96;
$hovercolor: #001E64;
$disabledcolor:#D3D3D3;

$maintext: #FFFFFF;

.button {
	background-color: $defaultcolor;
	color: $maintext;
	border-radius: 0;
	border: 0;
	width: 100%;
	height: 54px;
	font-size: 20px;

	&:hover {
		background-color: $hovercolor;
		color: $maintext;
	}

	&_disabled {
		background-color: $disabledcolor;
		color: $maintext;
	}

	&_secondary {
		background-color: $secondarycolor;
		color: $defaultcolor;
		border: 2px solid $defaultcolor;
	}
}
