$defaulcolor: #003C96;
$errorcolor: #B9002B;
$successcolor: #14AE5C;

.number-input {
	margin-top: 45px;
}

.input-container {
	display: block;
	width: 100%;
	min-width: 438px;
	font-size: 14px;
	color: $defaulcolor;
	margin-bottom: 40px;
	padding-left: 20px;
	position: relative;
}

.date-label {
	font-size: 14px;
	position: absolute;
	top: -28px;
	left: 20px;
}

.date-input-container {
	display: block;
	width: 100%;
	min-width: 438px;
	font-size: 14px;
	color: $defaulcolor;
	margin-bottom: 40px;
	position: relative;
}

.date-input {
	display: block;
	width: 438px;
	font-size: 20px;
	border: 0;
	padding: 0 20px;
	background-color: #F0FBFF;
	border-bottom: 1px solid $defaulcolor;
	color: $defaulcolor;
	height: 54px;
	box-sizing: border-box;
  font-weight: 450;

	&:focus {
		outline: none;
	}

	&__error {
		border-bottom: 1px solid $errorcolor;
	}

	&__success {
		border-bottom: 1px solid $successcolor;
	}
}

.input:focus ~ .floating-label,
.input:not(:focus) ~ .label-on-top {
	top: -23px;
	bottom: 10px;
	left: 20px;
	font-size: 14px;
	opacity: 1;
  font-weight: 400;
}

.floating-label {
	position: absolute;
	pointer-events: none;
	font-size: 20px;
	left: 20px;
	top: 15px;
	transition: 0.2s ease all;
  font-weight: 450;
}

.input {
	border: 0;
	padding: 0 20px;
	background-color: #F0FBFF;
	border-bottom: 1px solid $defaulcolor;
	width: 100%;
	height: 54px;
	box-sizing: border-box;
	margin-left: -20px;
	font-size: 20px;

	&::placeholder {
		color: $defaulcolor;
		font-size: 20px;
	}

	&:focus {
		outline: none;
	}

	&__error {
		border-bottom: 1px solid $errorcolor;
	}

	&__success {
		border-bottom: 1px solid $successcolor;
	}
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

.filter-header {
	font-size: 14px;
	color: $defaulcolor;
	padding-left: 20px;
}

.filter-container {
	margin-bottom: 20px;
}

.icon {
  cursor: pointer;
}

.message {
  display: block;
	font-size: 14px;
  padding-top: 4px;
  min-height: 20px;

	&__error {
		color: $errorcolor;
	}

	&__success {
		color: $successcolor;
	}
}

.placeholder {
	display: flex;
	align-items: center;
	gap: 8px;
  color: #D3D3D3
}

